@if (Deals != null && Deals.Any())
{
    @foreach (var deal in Deals)
    {
        <div class="text3">
            <span class="textBold">@deal.ItineraryTitle leaving @deal.DateStart - @deal.RoomType room</span><br/>
            <span class="textBold">WAS:</span> @deal.StartPrice <span class="textBold">NOW:</span> @deal.EndPrice
            <span class="redText">@deal.Discount % OFF</span>
            <a href="/details/@deal.ItineraryId">View Details</a>
        </div>
    }
}

